<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body{
            margin: 0;
        }
        .menu{
            display: block;
            padding: 5px;
        }
    </style>
</head>
<body>
    <div style="height: 48px;background-color: black;color: white">
        head
    </div>
    <div style="position: absolute;top:48px;bottom: 0;left: 0;width: 200px;background-color: brown;">
        <a class="menu" href="/monitor/user_info/">用户管理</a>
        <a class="menu" href="/monitor/user_group/">用户组管理</a>
    </div>
    <div style="position:absolute;top:48px;left: 210px;bottom: 0;right: 0;overflow: auto">
        <h3>用户编辑</h3>
        <form action="/monitor/useredit-{{ obj.id }}/" method="post">
            <input style="display: none" type="text" name="id" value="{{ obj.id }}"/>
            <input type="text" name="username" value="{{ obj.username }}"/>
            <input type="password" name="password" value="{{ obj.password }}"/>
            <input type="submit" value="提交"/>
        </form>
    </div>
</body>
</html>