<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆界面</title>
    <style>
        label{
            width: 80px;
            text-align: right;
            display: inline-block;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <p>
            <label for="username">用户名：</label>
            <input id="username" type="text"/>
        </p>
        <p>
            <label for="password">密&nbsp;码：</label>
            <input id="password" type="password"/>
        </p>
        <input type="submit" value="提交"/>
    </form>

</body>
</html>