<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .pagination .page{
            display: inline-block;
            background-color: gold;
            padding: 5px;
            margin: 5px;
        }
        .pagination .page.active{
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    {% for item in data %}
        <ul>
            <li>{{ item }}</li>
        </ul>
    {% endfor %}
{#    {{ page_str|safe }}#}
    <div class="pagination">
        {{ page_str }}
    </div>

     <div>
        <select id="ps" onchange="changePageSize(this)">
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>

    <script src="/static/jquery-1.12.4.js"></script>
    <script src="/static/jquery.cookie.js"></script>
    <script>

        $(function(){
            var v = $.cookie('per_page_count');
            console.log('value:', v);
            $('#ps').val(v);
        });

        function changePageSize(ths){
            var v = $(ths).val();
            console.log(v);
            $.cookie('per_page_count',v);
            location.reload();
        }
    </script>
</body>
</html>